/* =============================================================================
   ADD-ON
   ============================================================================= */
/* Grid Mobile fix */
	@media (max-width: 768px) {
	 body { overflow-x: hidden; } /* Width fit fix in Mobile view */ 
	 [class*="span"] { margin-bottom: 30px; }
	}

    body.responsive { min-width:; }

/* HEADER */
	@media (max-width: 979px) {	  
	.navbar .nav { float: none !important; }
	.navbar .btn-navbar {
        display: none;
        }
     .navbar .brand {
        text-align: center;
        width: 100% !important;
        margin: 0 -20px !important;
        }
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
	.navbar-fixed-top {
	    margin-bottom: 0px;
	    }
    .navbar .brand {
        padding-left: 0 !important;
        }
    }

	@media (max-width: 767px) {	  
	.hero-unit, .slides {
        margin: 0 -20px !important;
        }
	    .hero-unit .container-fluid, 
	    .slides .container-fluid {
        padding: 20px !important;
	    }
	}
	
    @media (max-width: 1024px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
	    position: ;
	    margin-bottom: 0;
	    top: 0;
	    }	
    }
      
   
/* FOOTER */
	@media (max-width: 767px) {	
		footer {
		    margin: -20px;
		    padding: 20px;
		    } 
		    .footer_menu_box li a { 
	            margin-right: 0px !important; 
	            }
	}

	@media (max-width: 767px){	  
	.footer_menu {
	    display: inline-block;
	    margin: auto;
	    text-align: center;
	    width: 100% !important;
		}
		.footer_menu_box li {
		    display: block !important;
		    margin: 14px 0;
		}
	
		
	.sns_icons {
	    display: inline-block;
	    float: none !important;
	    margin: 20px auto;
	    text-align: center;
	    width: 100% !important;
		}
		.sns_icons_box {
		    float: none !important;
		    margin: 0;
		}
			.sns_icons_box li {
	    	width: auto;
			}

	
	.copyright {
	    display: inline-block;
	    float: none !important;
	    margin: 14px auto !important;
	    text-align: center;
	    width: 100%;
		}	
		.maker {
			display: inline-block;
		    border-left: 0 none !important;
		    float: none !important;
		    margin: 0 !important;
		    padding-left: 0 !important;
		    width: 100% !important;
		    text-align: center;
		}
		
	
	.back-top {
	    float: none !important;
	    margin: 40px 0 0 !important;
	    text-align: center !important;
	    width: 100% !important;
		}
		.back-top a {
		    background:;
		    border: 4px solid #FFFFFF;
		    border-radius:0;
		    color: #FFFFFF !important;
		    padding: 10px 20px;
		    box-shadow: 0 1px 2px #BBBBBB;
		}
		
		
        html {
            font-size: 62.5% !important;
        }
		
	}
	


/* Mobile Only 
@media (max-device-height: 568px) {
    html, p, #popup_trigger, .modal, .brand strong, .korean p, .hero-unit p {
	font-size: 100% !important;
	line-height: 100% !important;
	}
	.navbar .nav {
    margin: 0 10px 0 0px !important;
	}
	.navbar .brand {
	font-size: 100% !important;	
	}
	.navbar .nav a {
    font-size: 100% !important;
    line-height: 100% !important;
	}		
	#contact_form label {
	font-size: 16px; font-size: 1rem;
	}
	.btn {
	font-size: 100% !important;
	}
}
*/

/* Responsive Video	*/
.entry-content-asset {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.entry-content-asset embed, .entry-content-asset object, .entry-content-asset iframe 
 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
